.mainContainer {
  display: flex;
  width: calc(100vw - 240px);
  height: 100vh;
  font-family: var(--font-poppins);
  background: var(--color-background);
  overflow: hidden;
  color: var(--color-primary-text)
}

.mainContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 30px;
  overflow-y: auto;
}

.header {
  margin-bottom: 30px;
}

.title {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--color-primary-text);
}

.dataItem {
  border: 1px solid var(--color-primary-text);
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
}
.sectionHeader{
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: flex;
}