.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100%;
    height: 100%;
    color: #333;
}

.closeButton {
    margin-top: 40px;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background-color: #e63946;
    color: white;
    font-weight: bold;
    cursor: pointer;
}